<%= form_for [@gallery, @picture], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

<h2>Croppable Large Verion</h2>

  <!-- This is the image we're attaching Jcrop to -->
  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
  <td>
      <%= image_tag(@picture.image.large.url, :id => 'target') %>
  </td>
  <td>
  <div style="width:100px;height:130px;overflow:hidden;margin-left:5px;">
      <%= image_tag(@picture.image.large.url, :id => 'preview')%>
  </div>

  </td>
  </tr>
  </table>

  
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary  btn-mini' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                gallery_path(@gallery), :class => 'btn btn-mini' %>
    <%= link_to 'Default', '', :class => 'btn btn-mini btn-success' , :id => 'make_default'%>

  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(function () {
      $('#make_default').click(function(event) {
        event.preventDefault();
        $.ajax({
          url: '<%= make_default_gallery_pictures_path %>',
          type: 'POST',
          data: {id : <%= @picture.id %>, gallery_id : <%= @gallery.id %>}
        });
      });
    });
</script>

<br/>
<br/>

<h2>Alternate Versions</h2>

  <!-- This is the image we're attaching Jcrop to -->
  <table cellpadding="2" cellspacing="2" border="0">
  <tr>
  <td style="text-align:center;">
      Medium
  </td>
  <td style="text-align:center;">
      Small
  </td>
  <td style="text-align:center;">
      Thumb
  </td>
  </tr>
  <tr>
  <td>
      <%= image_tag(@picture.image.medium.url) %>
  </td>
  <td>
      <%= image_tag(@picture.image.small.url)%>
  </td>
  <td>
      <%= image_tag(@picture.image.thumb.url)%>
  </td>
  </tr>
  </table>
